<div class="row justify-content-centerauthenticatingRequest: true
        justify-content-center form-bg-image">
  <div class="col-12 d-flex align-items-center justify-content-center">
    <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
      <div class="text-center text-md-center mb-4 mt-md-0">
        <h1 class="mb-0 h3">Forgot Password</h1>
        <p>Enter your email to receive a password reset code.</p>
        <div *ngIf="errorMessage" class="text-danger fw-bold p-2 text-center">
          {{ errorMessage }}
        </div>
        <div *ngIf="successMessage" class="text-success fw-bold p-2 text-center">
          {{ successMessage }}
        </div>
      </div>
      <form class="mt-2" [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
        <div class="form-group mb-4">
          <label for="email">Your Email</label>
          <div class="input-group">
            <span class="input-group-text">
              <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
              </svg>
            </span>
            <input type="email" class="form-control" id="email" formControlName="email"
                   [ngClass]="{'is-invalid': forgotPasswordForm.controls['email'].touched && forgotPasswordForm.controls['email'].invalid}"
                   placeholder="example@company.com" autofocus required>
            <div *ngIf="forgotPasswordForm.controls['email'].touched && forgotPasswordForm.controls['email'].invalid" class="invalid-feedback">
              <div *ngIf="forgotPasswordForm.controls['email'].errors?.['required']">Email is required.</div>
              <div *ngIf="forgotPasswordForm.controls['email'].errors?.['email']">Please enter a valid email address.</div>
              <div *ngIf="forgotPasswordForm.controls['email'].errors?.['pattern']">Please enter a valid email format.</div>
            </div>
          </div>
        </div>
        <div class="d-grid">
          <button type="submit" [disabled]="forgotPasswordForm.invalid" class="btn btn-gray-800">Send Reset Code</button>
        </div>
      </form>
      <div class="d-flex justify-content-center align-items-center mt-4">
        <span class="fw-normal">Remember your password? <a routerLink="/login" class="fw-bold">Login</a></span>
      </div>
    </div>
  </div>
</div>
